{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Поиск поста
{% endblock title %}

{% block content %}
    <hr>
     <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
            <table>
                <thead>
                    <th>Заголовок публикации</th>
                    <th>Дата публикации</th>
                    <th>Предварительный просмотр</th>
                    <th>Категории</th>
                </thead>
                {% for posts in filter.qs %}
                    <tr>
                        <td>
                            <a href="{% url 'post_detail' posts.id %}">{{ posts.post_header|title|censor }}</a>
                        </td>
                        <td>{{ posts.post_create_time|date:'M d Y'}}</td>
                        <td>{{ posts.post_text|truncatechars:20|censor }}</td>
                        <td>{{ posts.type_choice }}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock content %}